@charset "UTF-8";

@media only screen and (max-width: 500px) {
    /*MOBILE settings*/

body {
  font-family: 'Montserrat Alternates', sans-serif;
  color: #FFFAC7;
  font-size: 20px;
  width: 100%;
  height: 100%;
  background: #B5CDE6;
  position: absolute;
  text-align: center;
}

h2{
  text-align: center;
}

.pastryfont {
      /*color: #5B7999;*/
      font-family: 'Satisfy', cursive;
      font-size: 10px;
}

.dojofont {
      color: #E36B69;
      font-family: 'Architects Daughter', cursive;
      font-size: 10px;
}

section {
      width: auto;
      padding: 0px 100px 1000px 100px;
      text-align: center;
      font-family: 'Montserrat Alternates', sans-serif;
      color: #000080;
}

img {
    width: 100px;
    height: 100px;
}

.bigimg{
  width: auto;
  height: auto;
  margin: 0 auto;
  padding: 10px;

}

a {
    margin-left: 10px;
    text-decoration: none;
    color: #FFFFFF;
}

a:hover {
    color: #1B1FD1;
    transition: 1s;
}

.center {
    margin: 0 auto;
    display: block;
    width: 80%;
    height: 80%;
}

.leftbox {
  width: 48%;
  background-color: #5B7999;
  padding: 10px;
  margin: 0 0 0 0;
  text-align: justify;
  float: left;
  font-size: 24px;
  border-radius: 40px;
  font-family: 'Montserrat Alternates', cursive;
}

.rightbox {
    width: 48%;
    background-color: #E36B69;
    padding: 10px;
    margin: 0 0 0 0;
    text-align: justify;
    float: right;
    font-size: 24px;
    border-radius: 40px;
    font-family: 'Architects Daughter', cursive;
}

.centerbox1 {
    width: 90%;
    height: auto;
    background-color: #5B7999;
    margin: 0px 10px 0px 0px;
    padding: 0px 5px 0px 5px;
    text-align: justify;
    font-size: 16px;
    border-radius: 10px;
    border: none;
}

.centerbox2 {
    width: 90%;
    height: auto;
    background-color: #E36B69;
    margin: 0px 10px 0px 0px;
    padding: 0px 5px 0px 5px;
    text-align: justify;
    font-size: 16px;
    border-radius: 10px;
    border: none;
}

footer {
    position: static;
    font-size: 15px;
    border-top: 1px solid #EFF8F1;
    border-bottom: 1px solid #EFF8F1;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: right;
    color: #EFF8F1;
    padding: 0px 10px 0px 10px;
    clear: both;
}

#vidcap {
  border-top: 5px solid orange;
  border-bottom: 5px solid orange;
  color: #000080;
  padding: 0px 20px 0px 20px;
}

                    /*BEGIN SLIDE MENU*/

.icon-1, .icon-2, .icon-3 {
  position: absolute;
  left: 25%;
  top: 50%;
  width: 16px;
  height: 3px;
  background-color: #EFF8F1;
  transition: all 400ms cubic-bezier(.84, .06, .52, 1.8);
      }

.icon-1 {
  transform: translateY(-8px);
  animation-delay: 100ms;
}

.icon-3 {
  transform: translateY(8px);
  animation-delay: 250ms;
}

.hamburger-icon {
  position: absolute;
  height: 35px;
  width: 35px;
  top: 2%;
  left: 3%;
  z-index: 1000;
  cursor: pointer;
  border-radius: 50%;
  transition: all .5s ease-in-out;
  background: #5CB09E; // background: green;
  // width: auto;
  // height: 50px;
  // overflow: hidden;
  &:hover {
    // .icon-1 {
    //   transform: rotate(40deg);
    // }
    // .icon-3 {
    //   transform: rotate(-40deg);
    // }
    // .icon-2 {
    //   opacity: 0;
    // }
    transform: scale(1.2);
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
}
}

.icon-1.a {
    transform: rotate(40deg);
}
.icon-3.b {
    transform: rotate(-40deg);
}
.icon-2.c {
    opacity: 0;
}
.clear {
    clear: both;
}

@keyframes slideIn {
    0% {
        width: 0%; // transform: scale(.3);
        opacity: 0;
    }
    100% {
        width: 50%; // transform:scale(1);
        opacity: 1;
    }
}
nav {
  background: #5CB09E;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
  opacity: 0;
  transition: all 1000ms cubic-bezier(.62, .04, .3, 1.56);
  transition-delay: 100ms;
}

ul {
  margin: 0;
  position: absolute;
  top: 10%;
  right: 10%;
  text-align: right;
}

li {
  right: 10%;
  list-style: none;
  font-size: 20px;
  color: #EFF8F1;
  line-height: 2.2;
  text-transform: lowercase;
  letter-spacing: 1.7px;
  text-align: right;
  &:before
}

#listfix {
  text-align: left;
  font-size: 16px;
  color: #000080;
}


nav.show {
  //  opacity: 0;
  // animation: slideIn 0.7s cubic-bezier(.62,.04,.3,1.56);
  // animation-fill-mode: forwards;
  width: 100%; // transform:scale(1);
  opacity: .9;
}

.dark-blue {
  position: absolute;
  top: 0;
  left: 0;
  background: #64B5F6;
  height: 100%;
  width: 0%;
  transition: all 600ms cubic-bezier(.62, .04, .3, 1.8);
  transition-delay: 50ms;
  z-index: 5;
  opacity: 1;
}

.dark-blue.slide {
  width: 70%;
  opacity: 1;
}

@keyframes shotup {
  0% {
      transform: translateY(300%);
      opacity: 0;
  }
  90% {
      transform: translateY(-50px);
  }
  100% {
      transform: translateY(0%);
      opacity: 1;
  }
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  text-align: center;
  h1 {
      font-size: 70px;
      animation: shotup 600ms ease-in-out;
      animation-delay: 300ms;
  }
}

      /*END SLIDE MENU*/

      /*START SOCIAL NAV*/

.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background-color: #55acee;

}

.fa-google {
  background-color: #dd4b39;
}

.fa-instagram {
  background-color: #125688;
}

.fa-linkedin {
  background-color: #007bb5;
}

.fa-youtube {
  background-color: #bb0000;
}
/*END SOCIAL NAV*/
}

@media only screen and (min-width: 501px) and (max-width: 1023) {
  /*TABLET settings*/

body {
    font-family: 'Montserrat Alternates', sans-serif;
    color: #FFFAC7;
    font-size: 20px;
    width: 100%;
    height: 100%;
    background: #B5CDE6;
    position: absolute;
}

.container {
    width: auto;
    height: 1500px;
    border: 3px solid #FFFFFF;
    margin: 0 10px 0 10px;
    padding: 10px;
    text-align: center;
}

h2{
text-align: center;
}

.pastryfont {
    color: #5B7999;
    font-family: 'Satisfy', cursive;
    font-size: 100px;
}

.dojofont {
    color: #E36B69;
    font-family: 'Architects Daughter', cursive;
    font-size: 100px;
}

section {
    width: auto;
    padding: 0px 100px 1000px 100px;
    text-align: center;
    font-family: 'Montserrat Alternates', sans-serif;
    color: #000080;
}

img {
  width: 150px;
  height: 150px;
}

.bigimg{
width: auto;
height: auto;
margin: 0 auto;
padding: 10px;

}

a {
  margin-left: 10px;
  text-decoration: none;
  color: #FFFFFF;
}

a:hover {
  color: #1B1FD1;
  transition: 1s;
}

.center {
  margin: 0 auto;
  display: block;
  width: 50%;
  height: 50%;
}

.leftbox {
width: 48%;
background-color: #5B7999;
padding: 10px;
margin: 0 0 0 0;
text-align: justify;
float: left;
font-size: 24px;
border-radius: 40px;
font-family: 'Montserrat Alternates', cursive;
}

.rightbox {
  width: 48%;
  background-color: #E36B69;
  padding: 10px;
  margin: 0 0 0 0;
  text-align: justify;
  float: right;
  font-size: 24px;
  border-radius: 40px;
  font-family: 'Architects Daughter', cursive;
}

.centerbox {
  width: 95%;
  height: 550px;
  background-color: #5B7999;
  margin: 10px 30px 0px 30px;
  padding: 10px;
  text-align: left;
  font-size: 24px;
  border-radius: 40px;
}

footer {
  position: static;
  font-size: 15px;
  border-top: 1px solid #EFF8F1;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: right;
  color: #EFF8F1;
  bottom: 40px;
  padding: 0px 10px 0px 10px;
  clear: both;
}

    /*BEGIN SLIDE MENU*/

  .icon-1, .icon-2, .icon-3 {
      position: absolute;
      left: 25%;
      top: 50%;
      width: 32px;
      height: 4px;
      background-color: #EFF8F1;
      transition: all 400ms cubic-bezier(.84, .06, .52, 1.8);
  }

.icon-1 {
  transform: translateY(-8px);
  animation-delay: 100ms;
}

.icon-3 {
  transform: translateY(8px);
  animation-delay: 250ms;
}

.hamburger-icon {
  position: absolute;
  height: 60px;
  width: 60px;
  top: 2%;
  left: 3%;
  z-index: 1000;
  cursor: pointer;
  border-radius: 50%;
  transition: all .5s ease-in-out;
  background: #5CB09E; // background: green;
  // width: auto;
  // height: 50px;
  // overflow: hidden;

  &:hover {
  // .icon-1 {
  //   transform: rotate(40deg);
  // }
  // .icon-3 {
  //   transform: rotate(-40deg);
  // }
  // .icon-2 {
  //   opacity: 0;
  // }
  transform: scale(1.2);
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
}
}
.icon-1.a {
    transform: rotate(40deg);
}
.icon-3.b {
    transform: rotate(-40deg);
}
.icon-2.c {
    opacity: 0;
}
.clear {
    clear: both;
}
@keyframes slideIn {
    0% {
        width: 0%; // transform: scale(.3);
        opacity: 0;
    }
    100% {
        width: 50%; // transform:scale(1);
        opacity: 1;
    }
}
nav {
  background: #5CB09E;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
  opacity: 0;
  transition: all 1000ms cubic-bezier(.62, .04, .3, 1.56);
  transition-delay: 100ms;
}

ul {
  margin: 0;
  position: absolute;
  top: 10%;
  right: 10%;
  text-align: right;
}

li {
  right: 10%;
  list-style: none;
  font-size: 25px;
  color: #EFF8F1;
  line-height: 2.2;
  text-transform: lowercase;
  letter-spacing: 1.7px;
  text-align: left;
  &:before
}

nav.show {
    //  opacity: 0;
    // animation: slideIn 0.4s cubic-bezier(.62,.04,.3,1.56);
    // animation-fill-mode: forwards;
    width: 17%; // transform:scale(1);
    opacity: 1;
}

.dark-blue {
    position: absolute;
    top: 0;
    left: 0;
    background: #64B5F6;
    height: 100%;
    width: 0%;
    transition: all 600ms cubic-bezier(.62, .04, .3, 1.8);
    transition-delay: 50ms;
    z-index: 5;
    opacity: 1;
}
.dark-blue.slide {
    width: 17%;
    opacity: 1;
}
@keyframes shotup {
    0% {
        transform: translateY(300%);
        opacity: 0;
    }
    90% {
        transform: translateY(-50px);
    }
    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}
.content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    text-align: center;
    h1 {
        font-size: 70px;
        animation: shotup 600ms ease-in-out;
        animation-delay: 300ms;
    }
}
                /*END SLIDE MENU*/

    /*START SOCIAL NAV*/

.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background-color: #55acee;

}

.fa-google {
  background-color: #dd4b39;
}

.fa-instagram {
  background-color: #125688;
}

.fa-linkedin {
  background-color: #007bb5;
}

.fa-youtube {
  background-color: #bb0000;
}
/*END SOCIAL NAV*/

}

@media only screen and (min-width: 1024px) {
  /*DESKTOP settings*/

body {
        font-family: 'Montserrat Alternates', sans-serif;
        color: #FFFAC7;
        font-size: 20px;
        width: 100%;
        height: 100%;
        background: #36454f;
        position: absolute;
}

/*.container {
        width: auto;
        height: 1500px;
        border: 3px solid #FFFFFF;
        margin: 0 10px 0 10px;
        padding: 10px;
        text-align: center;*/
}

h2{
    text-align: center;
}

.pastryfont {
        color: #5B7999;
        font-family: 'Satisfy', cursive;
        font-size: 100px;
}

.dojofont {
        color: #E36B69;
        font-family: 'Architects Daughter', cursive;
        font-size: 100px;
}

  section {
        width: auto;
        padding: 0px 100px 1000px 100px;
        text-align: center;
        font-family: 'Montserrat Alternates', sans-serif;
        color: #000080;
  }

  img {
      width: 150px;
      height: 150px;
  }

  .bigimg{
    width: auto;
    height: auto;
    margin: 0 auto;
    padding: 10px;

  }

  a {
      margin-left: 10px;
      text-decoration: none;
      color: #FFFFFF;
  }

  a:hover {
      color: #1B1FD1;
      transition: 1s;
  }

  .center {
      margin: 0 auto;
      display: block;
      width: 50%;
      height: 50%;
  }

.centerbox1 {
  width: 90%;
  height: auto;
  background-color: #5B7999;
  margin: 0px 10px 0px 0px;
  padding: 0px 5px 0px 5px;
  text-align: justify;
  font-size: 16px;
  border-radius: 10px;
  border: none;
}

.centerbox2 {
  width: 90%;
  height: auto;
  background-color: #E36B69;
  margin: 0px 10px 0px 0px;
  padding: 0px 5px 0px 5px;
  text-align: justify;
  font-size: 16px;
  border-radius: 10px;
  border: none;
}
.leftbox {
  width: 47%;
  background-color: #5B7999;
  padding: 10px;
  margin: 0 0 0 0;
  text-align: justify;
  float: left;
  font-size: 24px;
  border-radius: 40px;
  font-family: 'Montserrat Alternates', cursive;
}

.rightbox {
    width: 47%;
    background-color: #E36B69;
    padding: 10px;
    margin: 0 0 0 0;
    text-align: justify;
    float: right;
    font-size: 24px;
    border-radius: 40px;
    font-family: 'Architects Daughter', cursive;
}

  .centerbox {
      width: 95%;
      height: 550px;
      background-color: #5B7999;
      margin: 10px 30px 0px 30px;
      padding: 10px;
      text-align: left;
      font-size: 24px;
      border-radius: 40px;
  }

  footer {
      font-size: 15px;
      border-top: 1px solid #EFF8F1;
      border-bottom: 1px solid #EFF8F1;
      text-align: right;
      color: #EFF8F1;
      padding: 0px 0px 0px 10px;
      margin-top: 50px;
      clear: both;
  }

  /*BEGIN SLIDE MENU*/
  .icon-1, .icon-2, .icon-3 {
      position: absolute;
      left: 25%;
      top: 50%;
      width: 32px;
      height: 4px;
      background-color: #EFF8F1;
      transition: all 400ms cubic-bezier(.84, .06, .52, 1.8);
  }

.icon-1 {
  transform: translateY(-8px);
  animation-delay: 100ms;
}

.icon-3 {
  transform: translateY(8px);
  animation-delay: 250ms;
}

.hamburger-icon {
  position: absolute;
  height: 60px;
  width: 60px;
  top: 2%;
  left: 3%;
  z-index: 1000;
  cursor: pointer;
  border-radius: 50%;
  transition: all .5s ease-in-out;
  background: #5CB09E; // background: green;
  // width: auto;
  // height: 50px;
  // overflow: hidden;
  &:hover {
  // .icon-1 {
  //   transform: rotate(40deg);
  // }
  // .icon-3 {
  //   transform: rotate(-40deg);
  // }
  // .icon-2 {
  //   opacity: 0;
  // }
  transform: scale(1.2);
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
}
}
.icon-1.a {
    transform: rotate(40deg);
}
.icon-3.b {
    transform: rotate(-40deg);
}
.icon-2.c {
    opacity: 0;
}
.clear {
    clear: both;
}
@keyframes slideIn {
    0% {
        width: 0%; // transform: scale(.3);
        opacity: 0;
    }
    100% {
        width: 50%; // transform:scale(1);
        opacity: 1;
    }
}
  nav {
    background: #5CB09E;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
    opacity: 0;
    transition: all 1000ms cubic-bezier(.62, .04, .3, 1.56);
    transition-delay: 100ms;
  }

  ul {
    margin: 0;
    position: absolute;
    top: 10%;
    right: 10%;
    text-align: right;
  }

  li {
    right: 10%;
    list-style: none;
    font-size: 25px;
    color: #EFF8F1;
    line-height: 2.2;
    text-transform: lowercase;
    letter-spacing: 1.7px;
    text-align: left;
    &:before
  }

  nav.show {
                  //  opacity: 0;
                  // animation: slideIn 0.4s cubic-bezier(.62,.04,.3,1.56);
                  // animation-fill-mode: forwards;
                  width: 25%; // transform:scale(1);
                  opacity: 1;
              }

              .dark-blue {
                  position: absolute;
                  top: 0;
                  left: 0;
                  background: #64B5F6;
                  height: 100%;
                  width: 0%;
                  transition: all 600ms cubic-bezier(.62, .04, .3, 1.8);
                  transition-delay: 50ms;
                  z-index: 5;
                  opacity: 1;
              }
              .dark-blue.slide {
                  width: 17%;
                  opacity: 1;
              }
              @keyframes shotup {
                  0% {
                      transform: translateY(300%);
                      opacity: 0;
                  }
                  90% {
                      transform: translateY(-50px);
                  }
                  100% {
                      transform: translateY(0%);
                      opacity: 1;
                  }
              }
              .content {
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  width: 100%;
                  transform: translate(-50%, -50%);
                  text-align: center;
                  h1 {
                      font-size: 70px;
                      animation: shotup 600ms ease-in-out;
                      animation-delay: 300ms;
                  }
              }
              /*END SLIDE MENU*/

  /*START SOCIAL NAV*/

  .fa {
      padding: 20px;
      font-size: 30px;
      width: 30px;
      text-align: center;
      text-decoration: none;
      border-radius: 50%;
  }

  .fa:hover {
      opacity: 0.7;
  }

  .fa-facebook {
    background-color: #55acee;

  }

  .fa-google {
    background-color: #dd4b39;
  }

  .fa-instagram {
    background-color: #125688;
  }

  .fa-linkedin {
    background-color: #007bb5;
  }

  .fa-youtube {
    background-color: #bb0000;
  }
  /*END SOCIAL NAV*/
}
